//! Fuentes
$fuente_principal: 'DM Sans', sans-serif;
$font-size: 18px;

//! Tamaño de Media Queries
$telefono: 375px;
$desktop: 1440px;

//! Colores-Primarios
$Soft-red: hsl(10, 79%, 65%);
$Cyan: hsl(186, 34%, 60%);

//! Neutral
$Dark-brown: hsl(25, 47%, 15%);
$Medium-brown: hsl(28, 10%, 53%);
$Cream: hsl(27, 66%, 92%);
$Very-pale-orange: hsl(33, 100%, 98%);

//! Fuentes
$regular : 400;
// $normal: 500;
$bold: 700;
// $black: 800;